*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: rgb(31, 30, 30);
}
#heading
{
    color: #fff;
    text-align: center;
    margin-top: 3.125rem;
    font-size: 6.25rem;
    font-family:'Times New Roman', Times, serif;
}
#heading:hover
{
    color: aqua;
}
.container
{
    margin-top: 5.625rem;
}
.card
{
    background-color: black;
    color: white;
    border-radius: 30px;
}
.inner_card1
{
    width: 100%;
    height: 0.625rem;
    background-color: #D247D8;
    border-radius: 1.875rem;
}
.inner_card2
{
    width: 100%;
    height: 0.625rem;
    background-color: #FFC300;
    border-radius: 1.875rem;
}
.inner_card3
{
    width: 100%;
    height: 0.625rem;
    background-color: #2BD919;
    border-radius: 1.875rem;
}
.btn
{
    margin: auto;
    width: 90px;
    color: #fff;
    transition: 0.8s;
}
.btn1
{
    background-color: #2BD919;
    
}
.btn1:hover
{
    background-color: #D247D8;
    color: #fff;
}
.btn2
{
    background-color: #FFC300;
}
.btn2:hover
{
    background-color: #FFC300;
    color: #fff;
}
.btn3
{
    background-color: #D247D8;
}
.btn3:hover
{
    background-color: #2BD919;
    color: #fff;
}
.card:hover
{
    transform: translateY(-30px);
    box-shadow: inset 0 0 60px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 80px #f0f,
    inset -20px 0  80px #00f,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    0px 0px #0ff;
}


@media (max-width: 500px)
{
    .card
    {
        margin-bottom: 30px;
    }
}
